@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 40 40"%3E%3Cpath fill="%234d46fa" d="M4.659 11.833h30.682L20 32.167z"%2F%3E%3C%2Fsvg%3E');
  background-position-x: 100%;
  background-position-y: 3px;
  background-repeat: no-repeat;
  border: none;
  /* border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem; */
  padding-right: 1.5rem;
}

@font-face {
  font-family: 'SVN-Biennale';
  src: local('SVN-Biennale'), url(../font/Fontspring-DEMO-biennale-regularit.otf) format('otf');
}